<div class="home-card">
<div class="card-Button">
<div class="imagehariona"></div>
    <div class="bot_wrapper">
        <div id="launch_content">
            <div id="mediaContent">
                <div id="internalMedia">
                    <div class="mediaContainer" id="settingsMediaContainer">
                        <button class="mediaButton" id="settingsMediaButton">Options</button>
                        <button class="mediaButton" id="boutiqueMediaButton">Boutique</button>
                        <button id="launch_button">Play</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>