<div class="bot_wrapper">
    <div id="launch_details">
        <div id="launch_details_left">
            <span id="launch_progress_label">0%</span>
            <div class="bot_divider"></div>
        </div>
            <div id="launch_details_right">
                <progress id="launch_progress" value="22" max="100"></progress>
                <span id="launch_details_text" class="bot_label">Please wait..</span>
            </div>
        </div>
    </div>
</div>