<div id="launcher-home-panel">
    <div class="banner-body-sidebar">
        <div class="block-container servers-status">
            <div class="block-title">États des serveurs<em id="server-total-players">0<i class="offline"></i></em></div>
            <div class="block-body">
                <div class="server">
                    <div class="server-icon"></div>
                    <div class="server-text">
                        <span class="title">hariona</span>
                        <span class="subtitle">
                            <b id="server-hariona-players">0</b> Joueurs connectés - <em id="server-hariona-latency">0</em>ms
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>