<div id="settingsTabAbout" class="settingsTab" style="display: none;">
    <div class="settingsTabHeader">
        <span class="settingsTabHeaderText">À propos</span>
        <span class="settingsTabHeaderDesc">Informations relatives au Launcher.</span>
    </div>
    <div id="settingsAboutCurrentContainer">
        <div id="settingsAboutCurrentContent">
            <div id="settingsAboutCurrentHeadline">
                <span id="settingsAboutTitle">Hariona Launcher</span>
            </div>
            <div id="settingsAboutCurrentVersion">
                <div id="settingsAboutCurrentVersionCheck">&#10003;</div>
                <div id="settingsAboutCurrentVersionDetails">
                    <span id="settingsAboutCurrentVersionTitle">Version stable</span>
                    <div id="settingsAboutCurrentVersionLine">
                        <span id="settingsAboutCurrentVersionText">Version </span>
                        <span id="settingsAboutCurrentVersionValue">0.0.1-alpha.12</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="settingsAboutButtons">
            <a href="https://github.com/hariona-dev/harionalauncher" id="settingsAboutSourceButton" class="settingsAboutButton">Code source (GitHub)</a>
            <!-- The following must be included in third-party usage. -->
            <!-- <a href="https://github.com/dscalzi/HeliosLauncher" id="settingsAboutSourceButton" class="settingsAboutButton">Original Source</a> -->
            <a href="https://github.com/hariona-dev/harionalauncher/issues" id="settingsAboutSupportButton" class="settingsAboutButton">Support</a>
            <a href="#" id="settingsAboutDevToolsButton" class="settingsAboutButton">DevTools Console</a>
        </div>
    </div>
    <div class="settingsChangelogContainer">
        <div class="settingsChangelogContent">
            <div class="settingsChangelogHeadline">
                <div class="settingsChangelogLabel">Notes de versions</div>
                <div class="settingsChangelogTitle">Journal des changements</div>
            </div>
            <div class="settingsChangelogText">
                Rien de neuf
            </div>
        </div>
        <div class="settingsChangelogActions">
            <a class="settingsChangelogButton settingsAboutButton" href="#">Voir les notes de versions sur GitHub</a>
        </div>
    </div>
</div>