<div id="settingsTabAccount" class="settingsTab">
    <div class="settingsTabHeader">
        <span class="settingsTabHeaderText">Réglages du compte Mojang</span>
        <span class="settingsTabHeaderDesc">Gérer ou ajouter des comptes Mojang.</span>
    </div>
    <div id="settingsAddAccountContainer">
        <button id="settingsAddAccount">
            <span id="settingsAddAccountText">&#43; Ajouter un compte</span>
        </button>
    </div>
    <div id="settingsCurrentAccountsHeader">
        <span class="settingsFieldTitle">Comptes actuels</span>
    </div>
    <div id="settingsCurrentAccounts">
        <!-- Auth accounts populated here. -->
    </div>
</div>