<div class="settings-container" id="settings-java-memory-panel" style="display: none;">
    <h1 id="title">Mémoire Ram</h1>

    <div class="info-container">
        <p class="title">Information</p>
    </div>

    <div class="settings-flex-double-container">
        <div class="left-container">
            <p class="group-name">RAM Maximum</p>
            <div class="settings-memory-range-container">
                <div class="range-slider" id="settings-max-ram-range" min="0.5" max="4" value="1" step="0.5">
                    <div class="range-slider-bar"></div>
                    <div class="range-slider-track"></div>
                </div>
                <p class="group-value" id="settings-max-ram-label">0G</p>
            </div>

            <p class="group-name">RAM Minimum</p>
            <div class="settings-memory-range-container">
                <div class="range-slider" id="settings-min-ram-range" min="0.5" max="4" value="1" step="0.5">
                    <div class="range-slider-bar"></div>
                    <div class="range-slider-track"></div>
                </div>
                <p class="group-value" id="settings-min-ram-label">0G</p>
            </div>
        </div>
        <div class="right-container">
            <div class="settings-memory-info">
                <div class="settings-memory-info-container">
                    <p class="group-name" style="margin-top: 1px;">RAM Total sur votre ordinateur :</p>
                    <p class="group-value" id="settings-memory-total-label" style="margin-left: 5px;">0G</p>
                </div>
                <div class="settings-memory-info-container">
                    <p class="group-name" style="margin-top: 1px;">RAM disponible :</p>
                    <p class="group-value" id="settings-memory-avail-label" style="margin-left: 5px;">0G</p>
                </div>
            </div>
        </div>
    </div>

    <script src="./assets/js/scripts/settings/java-memory.js"></script>
</div>