<div class="settings-container" id="settings-java-executable-panel" style="display: none;">
    <h1 id="title">Java exécutable</h1>

    <div class="info-container">
        <p class="title">Information</p>

    </div>

    <div class="settings-flex-container">
        <input class="textfield" type="text" id="settings-java-executable-textfield" disabled/>
        <input class="button-select" id="settings-java-executable-select" type="file" <%= process.platform === 'win32' ? 'accept=.exe' : '' %>>
        <label class="button button-settings" for="settings-java-executable-select" style="margin-top: 10px;">Changer</label>
    </div>

    <script src="./assets/js/scripts/settings/java-executable.js"></script>
</div>