<div id="settingsTabMods" class="settingsTab" style="display: none;">
    <div class="settingsTabHeader">
        <span class="settingsTabHeaderText">Options des mods</span>
        <span class="settingsTabHeaderDesc">Activer ou désactiver des mods.</span>
    </div>
    <div id="settingsSelServContainer">
        <div id="settingsSelServContent">

        </div>
        <div id="settingsSwitchServerContainer">
            <div id="settingsSwitchServerContent">
                <button id="settingsSwitchServerButton">Switcher</button>
            </div>
        </div>
    </div>
    <div id="settingsModsContainer">
        <div id="settingsReqModsContainer">
            <div class="settingsModsHeader">Mods requis</div>
            <div id="settingsReqModsContent">

            </div>
        </div>
        <div id="settingsOptModsContainer">
            <div class="settingsModsHeader">Mods facultatifs</div>
            <div id="settingsOptModsContent">
                
            </div>
        </div>
        <div id="settingsDropinModsContainer" style="display: none">
            <div class="settingsModsHeader">Drop-in Mods</div>
            <button id="settingsDropinFileSystemButton">+ Add Mods <span id="settingsDropinRefreshNote">(F5 to Refresh)</span></button>
            <div id="settingsDropinModsContent">
                
            </div>
        </div>
        <div id="settingsShadersContainer">
            <div class="settingsModsHeader">Shaders</div>
            <div id="settingsShaderpackDesc">Activer ou désactiver les shaders. Ceci ne fonctionnera fluidement que sur les ordinateurs puissants.</div>
            <div id="settingsShaderpackWrapper">
                <button id="settingsShaderpackButton"> + </button>
                <div class="settingsSelectContainer">
                    <div class="settingsSelectSelected" id="settingsShadersSelected">Choisir un shader</div>
                    <div class="settingsSelectOptions" id="settingsShadersOptions" hidden>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>