<div id="settingsTabram" class="settingsTab" style="display: none;">
    <div id="settingsMemoryContainer">
        <div id="settingsMemoryTitle">Mémoire ram pour Java.</div>
        <div id="settingsMemoryContent">
            <div id="settingsMemoryContentLeft">
                <div class="settingsMemoryContentItem">
                    <span class="settingsMemoryHeader">RAM maximum.</span>
                    <div class="settingsMemoryActionContainer">
                        <div id="settingsMaxRAMRange" class="rangeSlider" cValue="MaxRAM" min="3" max="8" value="3" step="0.5">
                            <div class="rangeSliderBar"></div>
                            <div class="rangeSliderTrack"></div>
                        </div>
                        <span id="settingsMaxRAMLabel" class="settingsMemoryLabel">3G</span>
                    </div>
                </div>
                <div class="settingsMemoryContentItem">
                    <span class="settingsMemoryHeader">RAM minimum.</span>
                    <div class="settingsMemoryActionContainer">
                        <div id="settingsMinRAMRange" class="rangeSlider" cValue="MinRAM" min="3" max="8" value="3" step="0.5">
                            <div class="rangeSliderBar"></div>
                            <div class="rangeSliderTrack"></div>
                        </div>
                        <span id="settingsMinRAMLabel" class="settingsMemoryLabel">3G</span>
                    </div>
                </div>
                <div id="settingsMemoryDesc">Il est recommandé d'avoir 3 go de RAM pour le bon fonctionnement du jeu.</div>
            </div>
            <div id="settingsMemoryContentRight">
                <div id="settingsMemoryStatus">
                    <div class="settingsMemoryStatusContainer">
                        <span class="settingsMemoryStatusTitle">Total.</span>
                        <span id="settingsMemoryTotal" class="settingsMemoryStatusValue">16G</span>
                    </div>
                    <div class="settingsMemoryStatusContainer">
                        <span class="settingsMemoryStatusTitle">Disponible.</span>
                        <span id="settingsMemoryAvail" class="settingsMemoryStatusValue">7.3G</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>