<div id="boutiqueContainer" class="boutiqueContainer" style="display: none;">
  <div class="state_container">
    
    <div id="shop-txt">
      <a>shop</a>
    </div>


    
    <div class="shop-card">
      
      
      
      <div class="card">
        <div id="grade">Diablotin</div>
        <div id="prix">2.50€</div>
        <div id="perm">
        </br>
          <li>Accès a la commande /craft</li>
        </br>
          <li>Accès a 3 sethome</li>
        </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
        </div>
        <div id="test"> <a href="https://boutique.hariona.fr" class="btn">Acheter</a></div>
      </div>



      <div class="card">
        <div id="grade">Ange-Gardien</div>
        <div id="prix">5.00€</div>
        <div id="perm">
        <li>Accès a la commande /craft</li>
        <li>Accès au /ec</li>
        <li>Accès au /furnace</li>
        <li>Accès au /feed</li>
        <li>Accès a 5 sethome</li>
      </div>
      <div id="test"> <a href="https://boutique.hariona.fr" class="btn">Acheter</a></div>
    </div>





    <div class="card">
      <div id="grade">Spectrum</div>
      <div id="prix">7.50€</div>
      <div id="perm">
      <li>Accès a la commande /craft</li>
      <li>Accès au /ec</li>
      <li>Accès au /chest</li>
      <li>Accès au /furnace</li>
      <li>Accès au /feed</li>
      <li>Accès a 7 sethome</li>
    </div>
    <div id="test"> <a href="https://boutique.hariona.fr" class="btn">Acheter</a></div>
  </div>




  <div class="card">
    <div id="grade">Personnalisé</div>
    <div id="prix">12.50€</div>
    <div id="perm">
      <li>Accès a la commande /nick</li>
      <li>Accès au /craft</li>
      <li>Accès au /ec</li>
      <li>Accès au /chest</li>
      <li>Accès au /furnace</li>
      <li>Accès au /feed</li>
      <li>Accès a 8 sethome</li>
  </div>
  <div id="test"> <a href="https://boutique.hariona.fr" class="btn">Acheter</a></div>
</div>



      


      
    
    
    </div>

     <div id="homeBottom">
        <button id="home">Terminé</button>
      </div>

  </div>
  <script src="./assets/js/scripts/boutique.js"></script>
</div>