<div id="boutiqueContainer" class="boutiqueContainer" style="display: none;">
  <div class="state_container">
    <div class="shop-card">
      <div class="card">
          <a>Diablotin</a>
          <li>Accès au /craft</li>
          <li>Accès a 3 sethome</li>
          <a href="https://boutique.hariona.fr" class="order-btn">Acheter</a>
      </div>



      


      
    
    
    </div>

     <div id="homeBottom">
        <button id="home">Terminé</button>
      </div>

  </div>
  <script src="./assets/js/scripts/boutique.js"></script>
</div>