<div id="whitelistContainer" class="whitelistContainer" style="display: none;">
  <div class="state_container">
    <div class="pricing-table">
      <div class="pricing-card">
        <h3 class="pricing-card-header">Diablotin</h3>
          <div class="price"><sup></sup>2.50<span>€</span></div>
            <ul>
              <li><strong>Accès au /craft et /ec</strong></li>
              <li><strong>3 sethome possible</strong></li>
              <li><strong>-1,5 % sur une maison de faction</strong></li>
              <li><strong>-5 % sur le grade Ange-Gardien</strong></li>
            </ul>
          <a href="https://boutique.hariona.fr" class="order-btn">Acheter</a>
      </div>




      <div class="pricing-card">
        <h3 class="pricing-card-header">Ange-Gardien</h3>
        <div class="price"><sup></sup>5.00<span>€</span></div>
            <ul>
              <li><strong>Accès au /craft, /furnace, /feed et /ec</strong></li>
              <li><strong>5 sethome possible</strong></li>
              <li><strong>Accès semi-prioritaire au serveur</strong></li>
              <li><strong>-3 % sur une maison de faction</strong></li>
              <li><strong>-5 % sur le grade Spectrum</strong></li>
            </ul>
          <a href="https://boutique.hariona.fr" class="order-btn">Acheter</a>
      </div>



      <div class="pricing-card">
        <h3 class="pricing-card-header">Spectrum</h3>
        <div class="price"><sup></sup>7.50<span>€</span></div>
            <ul>
              <li><strong>Accès au /craft, /furnace, /chest, /feed et /ec</strong></li>
              <li><strong>7 sethome possible</strong></li>
              <li><strong>Possibilité d'écrire en couleur sur le serveur</strong></li>
              <li><strong>Accès prioritaire au serveur</strong></li>
              <li><strong>-5 % sur une maison de faction</strong></li>
              <li><strong>-5 % sur le grade personnalisé</strong></li>
            </ul>
          <a href="https://boutique.hariona.fr" class="order-btn">Acheter</a>
      </div>




      <div class="pricing-card">
        <h3 class="pricing-card-header">personnalisé</h3>
          <div class="price"><sup></sup>12.50<span>€</span></div>
            <ul>
              <li><strong>Accès à la commande /nick</strong></li>
              <li><strong>Accès au /craft, /furnace, /chest, /feed et /ec</strong></li>
              <li><strong>8 sethome possible</strong></li>
              <li><strong>Possibilité de choisir le nom du grade & sa couleur</strong></li>
              <li><strong>Possibilité d'écrire en couleur sur le serveur</strong></li>
              <li><strong>Accès prioritaire au serveur</strong></li>
              <li><strong>-10 % sur une maison de faction</strong></li>
            </ul>
          <a href="https://boutique.hariona.fr" class="order-btn">Acheter</a>
      </div>
    </div>


     <div id="homeBottom">
        <button id="home">Terminé</button>
      </div>

  </div>
  <script src="./assets/js/scripts/boutique.js"></script>
</div>