<div id="boutiqueContainer" style="display: none;">
  
    <div id="shop-txt">
      <a>Shop</a>
    </div>
    <div class="shop-card">
      <div class="cardshop">
        <div id="grade1">Diablotin</div>
      </br>
        <div id="prix">2.50€</div>
        <div id="perm">
        </br>
          <li>Accès a la commande /craft</li>
        </br>
          <li>Accès a 3 sethome</li>
        </br></br></br></br></br></br></br></br></br></br></br></br></br>
        </div>
        <div id="test"> <a href="https://boutique.hariona.fr" class="btn">Acheter</a></div>
      </br></br></br>
      </div>
      <div class="cardshop">
        <div id="grade2">Ange-Gardien</div>
      </br>
        <div id="prix">5.00€</div>
        <div id="perm">
        </br>
        <li>Accès a la commande /craft</li>
      </br>
        <li>Accès au /ec</li>
      </br>
        <li>Accès au /furnace</li>
      </br>
        <li>Accès au /feed</li>
      </br>
        <li>Accès a 5 sethome</li>
      </br></br></br></br></br></br></br>
      </div>
      <div id="test"> <a href="https://boutique.hariona.fr" class="btn">Acheter</a></div>
    </div>
    <div class="cardshop">
      <div id="grade3">Spectrum</div>
    </br>
      <div id="prix">7.50€</div>
      <div id="perm">
      </br> 
      <li>Accès a la commande /craft</li>
    </br>
      <li>Accès au /ec</li>
    </br>
      <li>Accès au /chest</li>
    </br>
      <li>Accès au /furnace</li>
    </br>
      <li>Accès au /feed</li>
    </br>
      <li>Accès a 7 sethome</li>
    </br></br></br></br></br>
    </div>
    <div id="test"> <a href="https://boutique.hariona.fr" class="btn">Acheter</a></div>
  </div>
  <div class="cardshop">
    <div id="grade4">Personnalisé</div>
  </br>
    <div id="prix">12.50€</div>
    <div id="perm">
    </br>
      <li>Accès a la commande /nick</li>
    </br>
      <li>Accès au /craft</li>
    </br>
      <li>Accès au /ec</li>
    </br>
      <li>Accès au /chest</li>
    </br>
      <li>Accès au /furnace</li>
    </br>
      <li>Accès au /feed</li>
    </br>
      <li>Accès a 8 sethome</li>
    </br></br></br>
  </div>
  <div id="test"> <a href="https://boutique.hariona.fr" class="btn">Acheter</a></div>
</div>
    </div>
     <div id="homeBottom">
        <button id="home">Terminé</button>
      </div>
  
  <script src="./assets/js/scripts/boutique.js"></script>
</div>