<div id="landingContainer" style="display: none;">
    <div id="home-txt">
      <a>Hariona</a>
    </div>
    <div id="right">
        <div id="rightContainer" style="display: none;">
            <div id="user_content">
                <span id="user_text">Username</span>
                <div id="avatarContainer">
                    <button id="avatarOverlay">Edit</button>
                </div>
            </div>
        </div>
    </div>
  
        <div class="home-card">
          <div class="cardhome1">
      
  
  
          </div>
          <div class="cardhome2">
  
  
  
            </div>
        </div>
        <div class="home-card">
        <div class="cardhome3">
            <div class="bot_wrapper">
                <div id="launch_content">
                    <div id="mediaContent">
                        <div id="internalMedia">
                            <div class="mediaContainer" id="settingsMediaContainer">
                                <button class="mediaButton" id="settingsMediaButton">Options</button>
                                <button class="mediaButton" id="boutiqueMediaButton">Boutique</button>
                                <button id="launch_button">PLAY</button>
                            </div>
                        </div>
                      </div>
                <button id="server_selection_button"></button>
            </div>
            <div id="launch_details">
                <div id="launch_details_left">
                    <span id="launch_progress_label">0%</span>
                    <div class="bot_divider"></div>
                </div>
                <div id="launch_details_right">
                    <progress id="launch_progress" value="22" max="100"></progress>
                    <span id="launch_details_text" class="bot_label">Please wait..</span>
                </div>
            </div>
        </div>
  
      </div>
      <div class="cardhome4">
        
        
        
        
            <div class="bot_wrapper">
                <div id="content">
                    <div id="server_status_wrapper">
                        <span class="bot_label" id="landingPlayerLabel">SERVER</span>
                        <span id="player_count">OFFLINE</span>
                    </div>
                </div>
            </div>
            
        

        
  
  
    </div>
      <script src="./assets/js/scripts/landing.js"></script>
  </div>
</div>
</div>