<div id="testContainer" style="display: none;">
    <div class="state_container">
     <!--<div id="image_seal_container">
      <img id="image_seal" src="assets/images/SealCircle.png"/>
      <div id="updateAvailableTooltip">Mise à jour disponible...</div>
  </div>-->
  
    <div class="Options-card">
      <div class="card">
        
      
     </div>
    </div>
     <div class="Options-card">
        <div class="card1">
          <a> Annonces </a>
      </div>
    </div>
      <div class="Options-card">
      <div class="card2">
  
      </div>
   </div>
  
   <div class="Options-card">
    <div class="card3">
      <div id="right">
        <div class="bot_wrapper">
            <div id="launch_content">
                <button id="launch_button">PLAY</button>
                <button id="server_selection_button"></button>
            </div>
            <div id="launch_details">
                <div id="launch_details_left">
                    <span id="launch_progress_label">0%</span>
                    <div class="bot_divider"></div>
                </div>
                <div id="launch_details_right">
                    <progress id="launch_progress" value="22" max="100"></progress>
                    <span id="launch_details_text" class="bot_label">Please wait..</span>
                </div>
            </div>
        </div>
   </div>
  </div>
</div>
  <div class="Options-card">
  <div class="card4">
    <a>Etats des serveur</a>
  </div>
</div>  
  <script src="./assets/js/scripts/landing.js"></script>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  