<div id="updateContainer" style="display: none;">
    <div class="settingsTabHeader">
        <span class="settingsTabHeaderText">Mises à jour du Launcher</span>
        <span class="settingsTabHeaderDesc">Télécharger, installer, et revoir les mises à jour du Launcher.</span>
    </div>
    <div id="settingsUpdateStatusContainer">
        <div id="settingsUpdateStatusContent">
            <div id="settingsUpdateStatusHeadline">
                <span id="settingsUpdateTitle">Vous utilisez la dernière version</span>
            </div>
            <div id="settingsUpdateVersion">
                <div id="settingsUpdateVersionCheck">&#10003;</div>
                <div id="settingsUpdateVersionDetails">
                    <span id="settingsUpdateVersionTitle">Version stable</span>
                    <div id="settingsUpdateVersionLine">
                        <span id="settingsUpdateVersionText">Version </span>
                        <span id="settingsUpdateVersionValue">0.0.1-alpha.18</span>
                    </div>
                </div>
            </div>
            <div id="settingsUpdateActionContainer">
                <button id="settingsUpdateActionButton">Vérifier les mises à jour</button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/update.js"></script>
</div>