
  
  body{
    background: url('./../images/backgrounds/0.jpg') no-repeat center center fixed;
  }


  .card{
    background-color: rgba(60, 55, 68, 0.40);
    font-family: "coves";
    border-radius: 10px;
    padding: 101px 35px;
    text-decoration: none;
    
  }


#homeBottom {
  text-align: right;
}

#home{
  background: #60615e;
  border: none;
  margin: 60px 40px;
  padding: 10pt 25pt;
  font-family: "coves",sans-serif;
  font-size: 15px;
  color:#fff;
  cursor: pointer;
  outline: none;
  transition: 0.25s ease;
  border-radius: 10px;
}


.shop-card{
  display: flex;
  justify-content: space-around;
}


#shop-txt{
  font-family: Arial Black;
  font-size: 50pt;
  padding: 10px 40px;
}

#perm{
  font-size: 15px;
}

#grade{
  font-size: 30px;
  text-align: center;
  margin-top: -100px;
}

#test{
  text-align: center;
  margin-bottom: -100px;
}

.btn{
  background: #60615e;
  border: none;
  padding: 10pt 25pt;
  font-family: "coves",sans-serif;
  font-size: 15px;
  color:#fff;
  cursor: pointer;
  outline: none;
  transition: 0.25s ease;
  border-radius: 10px;
  text-decoration: none;
}


#prix{
  font-size: 30px;
  text-align: center;
}

