
  
  body{
    background: url('./../images/backgrounds/0.jpg') no-repeat center center fixed;
    width: 100%;
  }


  .shop-card{
    font-family: "coves",sans-serif;
    text-align: center;
  
  }


#homeBottom {
  position: absolute;
  top: 10%;
}











