  .home-card{
    display: flex;
    justify-content: space-around;
  }
  
  #home-txt{
    font-family: Arial Black;
    text-align: center;
    font-size: 50pt;
    padding: 10px 40px;
  }
  
.cardhome1{
  background-color: rgb(60, 55, 68);
  font-family: "coves";
  border-radius: 10px;
  padding: 10px 35px;
  text-decoration: none;
} 
.cardhome2{
  background-color: rgba(60, 55, 68, 0.40);
  font-family: "coves";
  border-radius: 10px;
  padding: 101px 35px;
  text-decoration: none;
}
  
.cardhome3{
  background-color: rgb(61, 61, 61);
  font-family: "coves";
  border-radius: 10px;
  padding: 30px 100px;
  text-decoration: none;
  text-align: center;
  }

.cardhome4{
  background-color: rgb(61, 61, 61);
  font-family: "coves";
  border-radius: 10px;
  /*padding: 101px 35px;*/
  text-decoration: none;
}
  
  
  #launch_details {
    position: relative;
    display: none;
  }
  
  #launch_details_left {
    display: flex;
  }
  
  #launch_progress_label {
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: 0px 0px 0px #bebcbb;
    font-size: 20px;
    min-width: 53.21px;
    max-width: 53.21px;
  }
  
  #launch_details_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #launch_progress[value] {
    height: 3px;
    width: 265px;
    -webkit-appearance: none;
  }
  #launch_progress[value]::-webkit-progress-bar {
    background-color: transparent;
  }
  #launch_progress[value]::-webkit-progress-value {
    background-color: #fff;
  }
  
  #launch_details_text {
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
  }



  #launch_button{
    background: #60615e;
    border: none;
    padding: 10pt 25pt;
    font-family: "coves",sans-serif;
    font-size: 15px;
    color:#fff;
    cursor: pointer;
    outline: none;
    transition: 0.25s ease;
    border-radius: 10px;
    text-decoration: none;
  }

  #settingsMediaButton{
    background: #60615e;
    border: none;
    padding: 10pt 25pt;
    font-family: "coves",sans-serif;
    font-size: 15px;
    color:#fff;
    cursor: pointer;
    outline: none;
    transition: 0.25s ease;
    border-radius: 10px;
    text-decoration: none;
  }

  #boutiqueMediaButton{
    background: #60615e;
    border: none;
    padding: 10pt 25pt;
    font-family: "coves",sans-serif;
    font-size: 15px;
    color:#fff;
    cursor: pointer;
    outline: none;
    transition: 0.25s ease;
    border-radius: 10px;
    text-decoration: none;
  }
  .bot_divider {
    height: 25px;
    width: 2px;
    background: rgba(107, 105, 105, 0.7);
    margin-left: 20px;
    margin-right: 20px;
}

#server_status_wrapper {
  display: inline-flex;
  width: 75px;
}

#imagehariona{
  padding: 10px 40px;
  background-color: #abff02;
  
}

.text-annouce{
  font-family: Arial Black;
  text-align: center;
  margin-top: -5px;
  font-size: 30pt;
}

.text-annouce-con{
  font-family: Arial Black;
  text-align: center;
  font-size: 20pt;
}

#bot_wrapper{
}