.home-card{
  display: flex;
  justify-content: space-around;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 0px;
  width: 325px;
}

.cardhome1{
background-color: rgb(60, 55, 68);
font-family: "coves";
border-radius: 10px;
padding: 10px 35px;
text-decoration: none;
} 
.cardhome2{
background-color: rgba(60, 55, 68, 0);
font-family: "coves";
border-radius: 10px;
padding: 101px 35px;
text-decoration: none;
}

.cardhome3{
background-color: #ffffff;
font-family: "coves";
border-radius: 10px;
padding: 20px 100px;
text-decoration: none;
text-align: center;
}

.cardhome4{

font-family: "coves";
border-radius: 10px;
text-decoration: none;
}


#launch_details {
  position: relative;
  display: none;
}

#launch_details_left {
  display: flex;
}

#launch_progress_label {
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow: 0px 0px 0px #bebcbb;
  font-size: 20px;
  min-width: 53.21px;
  max-width: 53.21px;
}

#launch_details_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#launch_progress[value] {
  height: 3px;
  width: 265px;
  -webkit-appearance: none;
}
#launch_progress[value]::-webkit-progress-bar {
  background-color: transparent;
}
#launch_progress[value]::-webkit-progress-value {
  background-color: #fff;
}

#launch_details_text {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
}



#launch_button{
  background: #52dc85;
  border: none;
  padding: 10pt 25pt;
  font-family: "coves",sans-serif;
  font-size: 15px;
  color:#fff;
  cursor: pointer;
  outline: none;
  transition: 0.25s ease;
  border-radius: 10px;
  text-decoration: none;
}

#settingsMediaButton{
  background:#52dc85;
  border: none;
  padding: 10pt 25pt;
  font-family: "coves",sans-serif;
  font-size: 15px;
  color:#fff;
  cursor: pointer;
  outline: none;
  transition: 0.25s ease;
  border-radius: 10px;
  text-decoration: none;
}

#boutiqueMediaButton{
  background: #52dc85;
  border: none;
  padding: 10pt 25pt;
  font-family: "coves",sans-serif;
  font-size: 15px;
  color:#fff;
  cursor: pointer;
  outline: none;
  transition: 0.25s ease;
  border-radius: 10px;
  text-decoration: none;
}
.bot_divider {
  height: 25px;
  width: 2px;
  background: rgba(107, 105, 105, 0.7);
  margin-left: 20px;
  margin-right: 20px;
}

#server_status_wrapper {
padding: 10px 20px;
background-color: rgba(255, 255, 255, 0.548);
border-radius: 50px;
color: black;
font-family: "coves",sans-serif;
}



.text-annouce{
font-family: Arial Black;
text-align: center;
margin-top: -5px;
font-size: 30pt;
}

.text-annouce-con{
font-family: Arial Black;
text-align: left;
font-size: 15pt;
}

#launcher-home-panel .block-container.servers-status .block-title em {
  position: relative;
  height: 30px;
  line-height: 30px;
  min-width: 42px;
  text-align: center;
  padding: 0 7px 0 9px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  font-style: normal;
  font-size: 12px;
  top: -5px;
  right: -11px;
  float: right;
}

/* Online */
#launcher-home-panel .block-container.servers-status .block-title em .online {
  display: block;
  position: absolute;
  top: -3px;
  right: -3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;

  background: #48B774;
  box-shadow: 0 0 0 0 rgba(72, 183, 116, 0.5);

  animation: online-em-pulse 2s infinite;
}
@keyframes online-em-pulse {
  70% {
      box-shadow: 0 0 0 8px rgba(72, 183, 116, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(72, 183, 116, 0);
  }
}

/* Offline */
#launcher-home-panel .block-container.servers-status .block-title em .offline {
  display: block;
  position: absolute;
  top: -3px;
  right: -3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;

  background: #B74848;
  box-shadow: 0 0 0 0 rgba(183, 72, 72, 0.5);
}

#launcher-home-panel .block-container.servers-status .server {
  padding: 0 0 0 48px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 28px;
  color: #ffffff;
}

#launcher-home-panel .block-container.servers-status .server #server-icon {
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  margin: auto 0;
  background: no-repeat center;

  width: 33px;
  height: 33px;
  background-image: url('../images/icons/icon.png');
  background-size: 80%;
}

#launcher-home-panel .block-container.servers-status .server .server-text .title {
  display: table;
  margin-bottom: 1px;
  font-size: 16px;
  font-weight: 600;
}

#launcher-home-panel .block-container.servers-status .server .server-text .subtitle {
  display: table;
  font-size: 11px;
}

#launcher-home-panel .block-container.servers-status .server .server-text .subtitle b {
  color: #ff8400;
}















































