.Options-card{
  display: flex;
  position: absolute;
}
   
  .card{
    background-color: rgb(128, 0, 255);
    font-family: "coves";
    border-radius: 10px;
    padding: 50px 50px;
    text-decoration: none;
    
      
  }
   .card1{
    background-color: rgb(45, 44, 46);
    font-family: "coves";
    border-radius: 10px;
    padding: 150px 350px;
    text-decoration: none;
    margin: 130px 85px;
  }
  .card2{
    background-color: rgb(255, 255, 255);
    font-family: "coves";
    border-radius: 10px;
    padding: 125px 150px;
    text-decoration: none;
    margin: 216px 893px;
  }
  .card3{
    background-color: rgba(81, 190, 135, 1.192);
    font-family: "coves";
    border-radius: 10px;
    padding: 40px 350px;
    text-decoration: none;
    margin: 520px 85px;
  }
  .card4{
    background-color: rgb(45, 44, 46);
    font-family: "coves";
    border-radius: 10px;
    padding: 75px 150px;
    text-decoration: none;
    margin: 520px 899px;
  }
  
  
  
  